<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoonPhaseAPI</title>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
        body {
            background-color: rgb(24, 24, 24);
            font-family: 'Ubuntu', sans-serif;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <center>
            <h1>MoonPhaseAPI</h1>
            <label for="date">Date</label>
            <input type="date" name="date" id="date">
            <div class="countries mt-4">
                <label for="country">country: </label>
                <select name="country" id="country">
                    {% for c in data %}
                        <option value='{ "{{c}}": {{data[c]}} }'>{{c}}</option>
                    {% endfor %}
                </select>
                <label for="state">state: </label>
                <select name="state" id="state">
                    {{data.keys()}}
                    {% for s in data[_c[0]] %}
                        <option value="{{s}}">{{s}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="button" class="btn btn-success mt-4" onclick="get_data()">Get!</button>
            <div class="data">
                <img class="mt-5 mb-5" src="..." alt="..." id="moon-img">
                <h5 id="date-el"></h5>
                <p id="info-el"></p>
            </div>
        </center>
    </div>
    <script>
        document.getElementById('date').value = new Date().toISOString().split('T')[0];
        var country = document.getElementById('country');
        var state = document.getElementById('state');
        country.addEventListener('change', function() {
            state.innerHTML = ""
            var c = country.value
            var valid_c = c.replace(/'/g, '"');
            var states = JSON.parse(valid_c);
            for (var key in Object.values(states)[0]) {
                    var option = document.createElement('option');
                    option.value = Object.values(states)[0][key];
                    option.text = Object.values(states)[0][key];
                    state.appendChild(option);
            }
        });

        async function get_data() {
            let img_el = document.getElementById('moon-img');
            let date_el = document.getElementById('date-el');
            let info_el = document.getElementById('info-el');
            let country = Object.keys(JSON.parse(document.getElementById('country').value.replace(/'/g, '"')))[0];
            let state = document.getElementById('state').value;
            let dateinp = document.getElementById('date').value;
            let date = new Date(dateinp);
            var monthNames = [
                "January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"
            ]
            console.log(`/moon?country=${country}&state=${state}&date=${date.getDate()}&month=${monthNames[date.getMonth()]}&year=${date.getFullYear()}`)
            $.get(`/moon?country=${country}&state=${state}&date=${date.getDate()}&month=${monthNames[date.getMonth()]}&year=${date.getFullYear()}`, function(data, status){
                console.log(data)
                img_el.setAttribute("src", data['img'])
                date_el.innerHTML = `${country}, ${state} (${date.getDate()}-${date.getMonth()}-${date.getFullYear()})`
                info_el.innerHTML = `
                <b>Phase</b>: ${data['phase']}<br>
                <b>Rise</b>: ${data['rise']}<br>
                <b>Set</b>: ${data['set']}<br>
                <b>Duration</b>: ${data['duration']}<br>
                <b>Visibility</b>: ${data['visibility']}<br>
                <b>Constellation</b>: ${data['constellation']}<br>
                <b>Horoscope</b>: ${data['horoscope']}<br>
                <b>Age</b>: ${data['age']}<br>
                <b>Angle</b>: ${data['angle']}<br>
                <b>Distance</b>: ${data['distance']}<br>
                `
            });
        }
        get_data()
    </script>
</body>
</html>